[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "PostBOUND"
version = "0.15.3"
authors = [{ name = "Rico Bergmann", email = "rico.bergmann1@tu-dresden.de" }]
description = "PostBOUND is an adaptable framework to implement and evaluate database query optimizers"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Development Status :: 3 - Alpha",
    "Operating System :: OS Independent",
]
dependencies = [
    "levenshtein==0.25.1",
    "natsort==8.4.0",
    "networkx==3.3",
    "numpy==2.0.0",
    "pandas==2.2.2",
    "pglast==7.2",
    "psycopg[binary]==3.2.1",
    "tomli==2.0.1",
]

[project.optional-dependencies]
vis = [
    "matplotlib==3.9.0",
    "seaborn==0.13.2",
    "graphviz==0.20.3",
]
mysql = [
    "mysql-connector-python==9.0.0"
]


[project.urls]
"Homepage" = "https://github.com/rbergm/PostBOUND"

[tool.setuptools.packages.find]
where = ["."]
include = ["postbound*"]

[tool.setuptools.package-data]
"postbound.workloads" = ["**"]
