build==1.3.0
graphviz==0.21
ipython==9.6.0
lazy-loader==0.4
levenshtein==0.27.1
matplotlib==3.10.7
mysql-connector-python==9.5.0
natsort==8.4.0
networkx==3.5
numpy==2.3.4
pandas==2.3.3
pglast==7.10
psycopg[binary]==3.2.12
quacklab==1.4.1
setuptools==59.6.0
sphinx==8.2.3
sphinx-book-theme==1.1.4
tqdm==4.67.1
wheel==0.45.1
